<div>
    <form>
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="title" [(ngModel)]="selectVideo.title">
        </div>
        <div class="form-group">
            <input type="text" name="url" class="form-control" placeholder="url" [(ngModel)]="selectVideo.url">
        </div>
        <div class="form-group">
            <textarea name="description" rows="5" class="form-control" placeholder="description" [(ngModel)]="selectVideo.description"></textarea>
        </div>
    </form>
</div>